<section>
    <div class="container">
        <div class="header">
            <h1 class="text-uppercase text-center">Contact Section</h1>
            <!--TODO: REPLACE <hr> with a psuedo element-->
            <hr>
        </div>
        <div class="contact-form">
            <div class="form">
                <div class="mb-3">
                    <input type="text" class="form-control" id="userName" placeholder="userName">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="userAge" placeholder="userAge">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="userEmail" placeholder="userEmail">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="userPassword" placeholder="userPassword">
                </div>
                <button class="btn btn-success btn-bg-color">send Message</button>
            </div>
        </div>
    </div>
</section>