h1 {
    color: #2C3E50;
    margin: 0 0 8px;
}
.box {
    height: 20vh;
}
.line {
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
}
.underline i {
    color: #2C3E50;
}
.port-item{
    position: relative;
}
img {
    border-radius: 8px;
}
.overlay{
    background-color: rgba(26, 188, 156,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .7s;
    border-radius: 8px;
}
.overlay i {
    font-size: 96px;
}
.port-item:hover .overlay {
    opacity: 1;
}
    .modal-dialog {
        max-width: 600px;
    }
.modal-body {
    padding: 0;
}

 .not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.not-found-card {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  background-color: #2C3E50;
  transition: transform 0.3s ease-in-out;
}

.not-found-card:hover {
  transform: translateY(-4px);
}

.not-found-card h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
