<section>
    <div class="container py-5">
        <div class="row py-2">
            <div class="box"></div>
            <div class="header">
                <h1 class="text-uppercase text-center">Portfolio Component</h1>
                <div class="underline d-flex justify-content-center align-items-center">
                    <div class="line"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            @for (image of images; track $index) {
                <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay" (click)="displayImg(image)" data-bs-toggle="modal" data-bs-target="#modal1">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img [src]="image" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
            }
            <div class="modal fade rounded-0" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img [src]="selectedImage" alt="Selected Portfolio Image" class="w-100 d-block img-fluid rounded-0">
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay" (click)="displayImg('hhhhh')" data-bs-toggle="modal" data-bs-target="#modal2">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port2.png" alt="Portfolio Image" class="w-100 d-block">
                    <div class="modal fade rounded-0" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="/images/portfolio/port2.png" alt="Portfolio Image" class="w-100 d-block img-fluid rounded-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay" (click)="displayImg('yyyyy')" data-bs-toggle="modal" data-bs-target="#modal3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port3.png" alt="Portfolio Image" class="w-100 d-block">
                    <div class="modal fade rounded-0" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="/images/portfolio/port3.png" alt="Portfolio Image" class="w-100 d-block img-fluid rounded-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay" (click)="displayImg('aaaa')" data-bs-toggle="modal" data-bs-target="#modal4">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/poert1.png" alt="Portfolio Image" class="w-100 d-block">
                    <div class="modal fade rounded-0" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="/images/portfolio/poert1.png" alt="Portfolio Image" class="w-100 d-block img-fluid rounded-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay" (click)="displayImg('ffff')" data-bs-toggle="modal" data-bs-target="#modal5">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port2.png" alt="Portfolio Image" class="w-100 d-block">
                    <div class="modal fade rounded-0" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="/images/portfolio/port2.png" alt="Portfolio Image" class="w-100 d-block img-fluid rounded-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay" (click)="displayImg('ooooo')" data-bs-toggle="modal" data-bs-target="#modal6">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port3.png" alt="Portfolio Image" class="w-100 d-block">
                    <div class="modal fade rounded-0" id="modal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="/images/portfolio/port3.png" alt="Portfolio Image" class="w-100 d-block img-fluid rounded-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>