<section>
    <div class="container">
        <div class="row">
            <div class="header">
                <h1 class="text-uppercase text-center">Portfolio Component</h1>
                <div class="underline d-flex justify-content-center align-items-center">
                    <div class="line"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/poert1.png" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port2.png" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port3.png" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/poert1.png" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port2.png" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="port-item">
                    <div class="overlay">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <img src="/images/portfolio/port3.png" alt="Portfolio Image" class="w-100 d-block">
                </div>
            </div>
        </div>
    </div>
</section>