<section>
    <div class="container">
        <div class="row">
            <div class="header">
                <h1 class="text-uppercase text-center">About Component</h1>
                <!--TODO: REPLACE <hr> WITH PSEUDO ELEMENT-->
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
        </div>
    </div>
</section>