section {
    background-color: #1ABC9C;
    height: 97vh;
}
h1 {
    margin: 0 0 8px;
}
p{
    font-weight: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 16px;
    font-weight: 400;
}