section {
    background-color: #1ABC9C;
    height: 97vh;
}
h1 {
    margin: 0 0 8px;
}
p{
    font-weight: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 16px;
    font-weight: 400;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .box{
        width: 75%;
        margin: auto;
        padding: 25px;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {}