<nav class="navbar navbar-expand-sm text-uppercase text-white fixed-top pt-4 pb-4">
    <div class="container">
        <a class="navbar-brand text-white" routerLink="/home" >start framework</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="router-link-active">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/portfolio" routerLinkActive="router-link-active">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="router-link-active">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>